<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dk.nordfalk.android30.elementer"
    android:versionCode="7"
    android:versionName="1.07">

    <!-- tilladelser -->
    <uses-permission android:name="android.permission.INTERNET"/>

    <application android:debuggable="true" android:icon="@drawable/logo">
        <activity android:name="eks.fragmenter.simpel.ArrayListAktivitet"/>

        <activity android:name="eks.fragmenter.dialoger.BenytDialogFragment"/>

        <activity android:name="eks.fragmenter.backstack.FragmentStakAktivitet"/>

        <activity android:name="eks.fragmenter.layout.LayoutAktivitet"/>
        <activity android:name="eks.fragmenter.layout.DetaljerAktivitet"/>

        <activity android:name="eks.fragmenter.retain_instance.HuskFragmentInstansAktivitet"/>

        <activity android:name="eks.loaders.LoaderThrottle"/>
        <provider android:name="eks.loaders.SimpleProvider"
                  android:authorities="eks.loaders.LoaderThrottle" />
<!--
        <activity android:name="eks.livscyklus.LogFragmentActivity"/>
-->

        <!-- aktivitet som kan ses fra startskærmen -->
        <activity android:name="dk.nordfalk.aktivitetsliste.Aktivitetsliste" android:label="Android30Elementer">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>
                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>

        <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekode">
          <meta-data android:name="web_url" android:value="http://code.google.com/p/android-eksempler/source/browse/trunk/Android30Elementer/" />
        </activity>

        <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekodeIWebView"/>

    </application>
    <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9"/>


</manifest>
