<?xml version="1.0" encoding="UTF-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
  package="dk.nordfalk.android.elementer"
  android:installLocation="preferExternal" c="installér på SD-kort"
  android:versionCode="9"
  android:versionName="1.09">
<!--
Mangler eksempler på
- services
- notifikationer
- startActivityForResult
- sende ekstra data med et intent og bruge dem til noget
- animationer
Motorolas multitouch-eksempel?
  XMLpullparsning
 -->

  <!-- tilladelser -->
  <uses-permission android:name="android.permission.READ_CONTACTS"/>
  <uses-permission android:name="android.permission.READ_PHONE_STATE"/>
  <uses-permission android:name="android.permission.VIBRATE"/>
  <uses-permission android:name="android.permission.INTERNET"/>
  <uses-permission android:name="android.permission.RECEIVE_SMS" />
  <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION"/>
  <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION"/>
  <uses-permission android:name="android.permission.CALL_PHONE" />

  <application android:debuggable="true" android:icon="@drawable/logo">
  <!--
    aktiviteter som ikke kan ses fra startskærmen men som kan kaldes
    internt i programmet
  -->
    <activity android:name="eks.diverse.AfspilLyd"/>
    <activity android:name="eks.diverse.BenytMenuer"/>
    <activity android:name="eks.intents.BenytIntents"/>
    <activity android:name="eks.intents.BenytIntentsFraGoogle" android:label="Intents fra Google"/>
    <activity android:name="eks.diverse.BenytHtmlTags"/>
    <activity android:name="eks.diverse.BenytWebView"/>
    <activity android:name="eks.diverse.ProgrammatiskLayout"/>
    <activity android:name="eks.grafik.Tegneprogram"/>
    <activity android:name="eks.grafik.Grafikdemo0"/>
    <activity android:name="eks.grafik.Grafikdemo1"/>
    <activity android:name="eks.grafik.Grafikdemo2"/>
    <activity android:name="eks.grafik.FlytbarVejrudsigt"/>
    <activity android:name="eks.diverse.BenytDialogerOgToasts"/>
    <!-- android:screenOrientation slår vending af skærmen fra på denne aktivitet -->
    <activity android:name="eks.diverse.VisSensorer" android:screenOrientation="portrait"/>
    <activity android:name="eks.diverse.Stedbestemmelse"/>

    <activity android:name="eks.intents.FangBrowseIntent">
    <!-- Fanger URLer der starter med http://javabog.dk/OOP/ og viser dem -->
    <intent-filter>
      <action android:name="android.intent.action.VIEW"/>
      <category android:name="android.intent.category.DEFAULT"/>
      <category android:name="android.intent.category.BROWSABLE"/>
      <data android:scheme="http" android:host="javabog.dk" android:pathPrefix="/OOP/"/>
    </intent-filter>
    </activity>

    <activity android:name="eks.data.JsonParsning"/>
    <activity android:name="eks.data.XmlParsning"/>
    <activity android:name="eks.vejret.ByvejrAktivitet"/>
    <activity android:name="eks.vejret.Indstillinger"/>
    <activity android:name="eks.asynkron.Asynkron1Thread"/>
    <activity android:name="eks.asynkron.Asynkron2AsyncTask"/>
    <activity android:name="eks.asynkron.Asynkron2Handler"/>
    <activity android:name="eks.lister.BenytListView"/>
    <activity android:name="eks.lister.BenytListActivity"/>
    <activity android:name="eks.lister.BenytListViewMedEgetLayout"/>
    <activity android:name="eks.lister.BenytListViewMedEgetLayout2"/>
    <activity android:name="eks.lister.BenytExpandableListActivity"/>
    <activity android:name="eks.lister.VisAndroidDrawables"/>
    <activity android:name="eks.providers.VisKontakter"/>
    <activity android:name="eks.providers.VisOpkald"/>
    <activity android:name="eks.recievers.BenytReciever"/>
    <activity android:name="eks.recievers.ModtagSMSer"/>
    <activity android:name="eks.multitouch.MultitouchAktivitet"/>
    <activity android:name="eks.livscyklus.ManglendeKaldTilSuperklasse"/>
    <activity android:name="eks.livscyklus.LogAktivitet"/>
    <activity android:name="eks.livscyklus.Liv1_singleton"/>
    <activity android:name="eks.livscyklus.Liv2_gemIFil"/>
    <activity android:name="eks.livscyklus.Liv3_nonConfigurationInstance"/>
    <activity android:name="eks.livscyklus.Liv4_bundle"/>

    <activity android:name="eks.kort.KortAktivitet"/>
    <uses-library android:name="com.google.android.maps" android:required="false" />

    <!-- aktivitet som kan ses fra startskærmen -->
    <activity android:name="dk.nordfalk.aktivitetsliste.Aktivitetsliste" android:label="AndroidElementer">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <!--  Kommenter følgende ind hvis du er kommet til at autostarte noget der crasher med det samme
    <activity android:name="dk.nordfalk.aktivitetsliste.AktivitetslisteUdenAuto" android:label="AE (fejlsikker)">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    <activity android:name="dk.nordfalk.aktivitetsliste.AktivitetslisteHierakisk" android:label="AElem hierakisk">
        <intent-filter>
            <action android:name="android.intent.action.MAIN"/>
            <category android:name="android.intent.category.LAUNCHER"/>
        </intent-filter>
    </activity>
    -->

    <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekode">
      <!-- bruges af metoden VisKildekode.findWebUrl() -->
      <meta-data android:name="web_url" android:value="http://code.google.com/p/android-eksempler/source/browse/trunk/AndroidElementer/" />
    </activity>

    <activity android:name="dk.nordfalk.aktivitetsliste.VisKildekodeIWebView"/>


    <service android:name="eks.levendetapet.Esperantotapet"
        android:permission="android.permission.BIND_WALLPAPER">
        <intent-filter>
            <action android:name="android.service.wallpaper.WallpaperService" />
        </intent-filter>
        <meta-data android:name="android.service.wallpaper" android:resource="@xml/levendetapet" />
    </service>

  </application>



  <uses-sdk android:minSdkVersion="4" android:targetSdkVersion="9"/>
  <!-- Undgå dette - burde være unødvendigt iflg http://d.android.com/guide/practices/screens_support.html
    <supports-screens
        android:largeScreens="true"
        android:normalScreens="true"
        android:smallScreens="true"
        android:anyDensity="true" />
   -->

  <!-- Undgå at appen bliver utilgængelig for visse enheder i Android Marked. Se
    http://developer.android.com/guide/topics/manifest/uses-feature-element.html
  -->
  <uses-feature android:name="android.hardware.telephony" android:required="false" />
  <uses-feature android:name="android.hardware.location" android:required="false" />
  <uses-feature android:name="android.hardware.location.gps" android:required="false" />
  <uses-feature android:name="android.hardware.location.network" android:required="false" />
  <uses-feature android:name="android.hardware.touchscreen" android:required="false" />
  <uses-feature android:name="android.software.live_wallpaper" android:required="false" />

</manifest>
